@model Memo.Models.Playlist

@{
	ViewData["Title"] = "Creating a Playlist";
}

<div class="page__container">
	<div class="form__container">

		<h1 class="title">
			New Playlist
		</h1>
		<div class="form">
			<form asp-action="Create">
				<div class="form__group">
					<label asp-for="Name" class="form__label">

					</label>
					<input asp-for="Name" style="height: 33px; border: 1px solid var(--cor3);" />
				</div>
				<div class="form__group">
					<label asp-for="ImageUrl" class="form__label">

					</label>
					<input asp-for="ImageUrl" style="height: 33px; border: 1px solid var(--cor3);" />
				</div>
				<div class="controllers">
					<a asp-controller="Home" asp-action="Index">return</a>
					<input type="submit" value="done" class="send">
				</div>
			</form>
		</div>
	</div>
</div>
