@model Memo.Models.Playlist

@{
	ViewData["Title"] = "Editing a Playlist";
}
<div class="page__container">

	<div class="form__container">
		<h1 class="title">
			Edit Playlist
		</h1>
		<div class="form">
			<form asp-action="Edit">
				<div class="form__group">
					<label asp-for="Name" class="form__label">

					</label>
					<input asp-for="Name" class="form__input" style="height: 33px; border: 1px solid var(--cor3);" />
				</div>
				<div class="form__group">
					<label asp-for="ImageUrl" class="form__label">

					</label>
					<input asp-for="ImageUrl" class="form__input" style="height: 33px; border: 1px solid var(--cor3);" />
				</div>
				<div class="controllers">
					<a asp-action="Details" asp-route-id="@Model.Id">return</a>
					<input type="submit" value="Edit" class="send">
				</div>
			</form>
		</div>

	</div>
</div>